@model IEnumerable<Genealogie.ASP.Models.PersonneIndex>

@{
    ViewBag.Title = "DonnerPersonnes";
}

<h2>DonnerPersonnes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDeNaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDeDeces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAjout)
        </th>
        <th>Enfants</th>
        <th>Parents</th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDeNaissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDeDeces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAjout)
        </td>
        <td>
            @for (int i = 0; i < item.enfants.Count(); i++)
            {
                @Html.DisplayFor(modelItem => item.enfants[i].nomAffichage)
                
            }
        </td>
        <td>
            @if (item.pere != null)
            {<p>Père: @Html.DisplayFor(modelItem => item.pere.nomAffichage)</p>}
            @if (item.mere != null)
            {<p>Père: @Html.DisplayFor(modelItem => item.mere.nomAffichage)</p>}
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
