@model IEnumerable<Genealogie.ASP.Models.ArbreIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouvel arbre", "Creer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreDePersonnes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bloque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreDePersonnes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bloque)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Modifier", new { id=item.id }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id }) |
            @Html.ActionLink("Supprimer", "Supprimer", new { id=item.id })
        </td>
    </tr>
}

</table>
