@model IEnumerable<Genealogie.ASP.Models.NouvelleIndex>

@{
    ViewBag.Title = "A la Une";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (HttpContext.Current.Session["admin"] != null) { @Html.ActionLink("Créer une nouvelle", "Creer")}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.createur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actif)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
            if (@HttpContext.Current.Session["admin"] != null || item.actif)
            {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.createur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.actif)
                </td>
                <td>

                    @Html.ActionLink("Lire", "Details", new { id = item.id })
                    <p> </p>
                    @if (HttpContext.Current.Session["admin"] != null)
                    {
                        if (item.actif)
                        {@Html.ActionLink("Desactiver", "Desactiver", new { id = item.id })}
                        if (!(item.actif))
                        {@Html.ActionLink("Activer", "Activer", new { id = item.id })}
                    }
                </td>
            </tr>
            }
            }

</table>
