@model Genealogie.ASP.Models.FormAjouterParent

@{
    ViewBag.Title = "AjouterParent";
}

<h2>AjouterParent</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FormAjouterParent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=>model.idArbre)

        <div class="form-group">
            <label asp-for="roles" class="control-label"></label>
            @for (int i = 0; i < Model.parents.Count(); i++)
            {
                <br />
                @Html.RadioButtonFor(x => x.idParent, Model.parents[i].Value, "") @Model.parents[i].Text
                /*<input type="radio" id="enfants" name="machin" value="@Model.enfants[i].Value"> @Model.enfants[i].Text*/

            }
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "DonnerPourArbre", new { id=Model.idArbre})
    
</div>
