@model Genealogie.ASP.Models.PersonneDansArbreIndividuel
@using Genealogie.ASP.Models


<h2>
    @Model.prenom @Model.nom () et ses descendants
</h2>

@helper Montre(string titre, object desc)
{
    if (desc != null)
    {<p>@titre @desc </p>}
}
@helper Montre(PersonneDansArbreIndividuel p)
{
<a href="#">
    
    @foreach(string s in p.fiche) 
    { 
        <p>@s</p>
    }
</a>
    
}
@helper ShowTree(IEnumerable<PersonneDansArbreIndividuel> descendants)
{
    <ul>
        @foreach (var descendant in descendants)
        {
            <li>
                @Montre(descendant)
                @if (descendant.descendants.Any())
                {
                    @ShowTree(descendant.descendants)
                }
            </li>
        }
    </ul>
}
<div class="arbre">
    <ul>
        <li>
            @Montre(Model)
            @ShowTree(Model.descendants)
        </li>
        

    </ul>
</div>
@section Scripts {


}