@model Genealogie.ASP.Models.PersonneDansArbreIndividuel
@using Genealogie.ASP.Models


<h2>
    @Model.prenom @Model.nom () et ses descendants
</h2>

@helper Montre(string titre, object desc)
{
    if (desc != null)
    {<p>@titre @desc </p>}
}
@helper Montre(PersonneDansArbreIndividuel p)
{
<bb>
    <a href="#">

        @foreach (string s in p.fiche)
        {
            <p>@s</p>
        }

    </a>
    <p>
        @Html.ActionLink("Modifier", "Modifier", new { id = p.id })
    </p>
    @if (p.idPere == null || p.idMere == null)
    {<p>
    @Html.ActionLink("Ajouter parent", "AjouterParent", new { id = p.id })
</p>}
    @if (p.idPere != null)
    {
<p>
    @Html.ActionLink("Supprimer le père", "SupprimerPere", new { id = p.id })
</p>}
            @if (p.idMere != null)
            {
<p>
    @Html.ActionLink("Supprimer la mère", "SupprimerMere", new { id = p.id })
</p>
            <p>
                @Html.ActionLink("Ajouter enfant", "AjouterEnfant", new { id = p.id })
        </p>}
    </bb>

}
@helper ShowTree(IEnumerable<PersonneDansArbreIndividuel> descendants)
{
    <ul>
        @foreach (var descendant in descendants)
        {
            <li>
                @Montre(descendant)
                @if (descendant.descendants.Any())
                {
                    @ShowTree(descendant.descendants)
                }
            </li>
        }
    </ul>
}
<div class="arbre">
    <ul>
        <li>
            @Montre(Model)
            @ShowTree(Model.descendants)
        </li>


    </ul>
</div>
@section Scripts {


}