@model Genealogie.ASP.Models.ConversationLecture

@{
    ViewBag.Title = "Lire";
}

<h2>Lire</h2>

<div>
    <h4>ConversationLecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idConversation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idConversation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emetteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emetteur)
        </dd>


        @for(int k = 0; k<Model.messages.Count(); k++)
        {
            <dt>@Html.DisplayNameFor(x=>x.messages[k].Lu)</dt>
            <dd>
                @Html.DisplayFor(x => x.messages[k].destinataire.login)
                        @Html.DisplayFor(x => x.messages[k].Lu)
                    </dd>
        }

        

        <dt>
            @Html.DisplayNameFor(model => model.sujet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sujet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texte)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Retour", "DonnerMessagesEnvoyes", "Message");

</p>
