@model Genealogie.ASP.Models.PersonneIndex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonneIndex</h4>
    <p>@Model.idArbre</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDeNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDeNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDeDeces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDeDeces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAjout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAjout)
        </dd>
        <p>Enfants</p>
        @for (int i = 0; i < Model.enfants.Count(); i++)
        {
            <dd>@Html.DisplayFor(model => model.enfants[i].nom)</dd>
            <dd>@Html.DisplayFor(model => model.enfants[i].prenom)</dd>
            <dd>@Html.DisplayFor(model => model.enfants[i].homme)</dd>
            @Html.ActionLink("Détails", "Details", new { id = Model.enfants[i].id })
        }
        <p>pèrexxx</p>
        @if (Model.pere != null)
        {
            <p>Père</p>
            <dd>@Html.DisplayFor(model => model.pere.nom)</dd>
            <dd>@Html.DisplayFor(model => model.pere.prenom)</dd>
            <dd>@Html.DisplayFor(model => model.pere.dateDeNaissance)</dd>
            @Html.ActionLink("Détails", "Details", new { id = Model.pere.id })
        }
        @if (Model.mere != null)
        {
            <p>Mère</p>
            <dd>@Html.DisplayFor(model => model.mere.nom)</dd>
            <dd>@Html.DisplayFor(model => model.mere.prenom)</dd>
            <dd>@Html.DisplayFor(model => model.mere.dateDeNaissance)</dd>
            @Html.ActionLink("Détails", "Details", new { id = Model.mere.id })
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour à l'arbre", "Details","Arbre", new { id = Model.idArbre } ,null)
</p>
